In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

## Fetch a Dataset with Bigquery

In [2]:
from google.cloud import bigquery

# Create a Client Object
client = bigquery.Client()

# Construct a reference to the "hacker_news" dataset
dataset_ref = client.dataset("hacker_news", project="bigquery-public-data")

# API request to fetch the dataset
dataset = client.get_dataset(dataset_ref)

# Construct a reference to the "hacker_news" dataset
dataset_ref = client.dataset("hacker_news", project="bigquery-public-data")

# API request to fetch the dataset
dataset = client.get_dataset(dataset_ref)

# List all the tables in the "hacker_news" dataset
tables = list(client.list_tables(dataset))

# Print names of all the tables in the dataset
for table in tables:
    print(table.table_id)

Using Kaggle's public dataset BigQuery integration.
comments
full
full_201510
stories

## Fetch a Table

In [3]:
# Construct a reference to the full table.
table_ref = dataset_ref.table("full")

# API request - fetch the table
table = client.get_table(table_ref)

table.schema

[SchemaField('title', 'STRING', 'NULLABLE', 'Story title', (), None),
 SchemaField('url', 'STRING', 'NULLABLE', 'Story url', (), None),
 SchemaField('text', 'STRING', 'NULLABLE', 'Story or comment text', (), None),
 SchemaField('dead', 'BOOLEAN', 'NULLABLE', 'Is dead?', (), None),
 SchemaField('by', 'STRING', 'NULLABLE', "The username of the item's author.", (), None),
 SchemaField('score', 'INTEGER', 'NULLABLE', 'Story score', (), None),
 SchemaField('time', 'INTEGER', 'NULLABLE', 'Unix time', (), None),
 SchemaField('timestamp', 'TIMESTAMP', 'NULLABLE', 'Timestamp for the unix time', (), None),
 SchemaField('type', 'STRING', 'NULLABLE', 'Type of details (comment, comment_ranking, poll, story, job, pollopt)', (), None),
 SchemaField('id', 'INTEGER', 'NULLABLE', "The item's unique id.", (), None),
 SchemaField('parent', 'INTEGER', 'NULLABLE', 'Parent comment ID', (), None),
 SchemaField('descendants', 'INTEGER', 'NULLABLE', 'Number of story or poll descendants', (), None),
 SchemaField('ranking', 'INTEGER', 'NULLABLE', 'Comment ranking', (), None),
 SchemaField('deleted', 'BOOLEAN', 'NULLABLE', 'Is deleted?', (), None)]

In [4]:
client.list_rows(table, max_results=5).to_dataframe()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Cannot use bqstorage_client if max_results is set, reverting to fetching data with the tabledata.list endpoint.
  """Entry point for launching an IPython kernel.

,title,url,text,dead,by,score,time,timestamp,type,id,parent,descendants,ranking,deleted
0,None,None,"The rates generally are published, via CMS. Th...",None,killjoywashere,NaN,1516081339,2018-01-16 05:42:19+00:00,comment,16156093,16154299,NaN,NaN,None
1,None,None,Totally is. I live on the East Coast in an ill...,None,nv-vn,NaN,1516081329,2018-01-16 05:42:09+00:00,comment,16156092,16152990,NaN,NaN,None
2,None,None,"The thing is, it seems pretty clear-cut to me ...",None,rgossiaux,NaN,1516081277,2018-01-16 05:41:17+00:00,comment,16156091,16155165,NaN,NaN,None
3,None,None,from my limited experience with health care in...,None,rosege,NaN,1516081260,2018-01-16 05:41:00+00:00,comment,16156090,16153671,NaN,NaN,None
4,None,None,If you were Nigerian you&#x27;d probably feel ...,None,ikeyany,NaN,1516081344,2018-01-16 05:42:24+00:00,comment,16156096,16154506,NaN,NaN,None

In [5]:
client.list_rows(table, selected_fields=table.schema[2:3], max_results=5).to_dataframe()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Cannot use bqstorage_client if max_results is set, reverting to fetching data with the tabledata.list endpoint.
  """Entry point for launching an IPython kernel.

                                                text
0  The rates generally are published, via CMS. Th...
1  Totally is. I live on the East Coast in an ill...
2  The thing is, it seems pretty clear-cut to me ...
3  from my limited experience with health care in...
4  If you were Nigerian you&#x27;d probably feel ...