In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

## Fetch a Dataset with Bigquery

In [2]:
from google.cloud import bigquery

# Create a Client Object
client = bigquery.Client()

# Construct a reference to the "hacker_news" dataset
dataset_ref = client.dataset("hacker_news", project="bigquery-public-data")

# API request to fetch the dataset
dataset = client.get_dataset(dataset_ref)

# Construct a reference to the "hacker_news" dataset
dataset_ref = client.dataset("hacker_news", project="bigquery-public-data")

# API request to fetch the dataset
dataset = client.get_dataset(dataset_ref)

# List all the tables in the "hacker_news" dataset
tables = list(client.list_tables(dataset))

# Print names of all the tables in the dataset
for table in tables:
    print(table.table_id)

Using Kaggle's public dataset BigQuery integration.
comments
full
full_201510
stories

## Fetch a Table

In [3]:
# Construct a reference to the full table.
table_ref = dataset_ref.table("full")

# API request - fetch the table
table = client.get_table(table_ref)

table.schema

[SchemaField('title', 'STRING', 'NULLABLE', 'Story title', (), None),
 SchemaField('url', 'STRING', 'NULLABLE', 'Story url', (), None),
 SchemaField('text', 'STRING', 'NULLABLE', 'Story or comment text', (), None),
 SchemaField('dead', 'BOOLEAN', 'NULLABLE', 'Is dead?', (), None),
 SchemaField('by', 'STRING', 'NULLABLE', "The username of the item's author.", (), None),
 SchemaField('score', 'INTEGER', 'NULLABLE', 'Story score', (), None),
 SchemaField('time', 'INTEGER', 'NULLABLE', 'Unix time', (), None),
 SchemaField('timestamp', 'TIMESTAMP', 'NULLABLE', 'Timestamp for the unix time', (), None),
 SchemaField('type', 'STRING', 'NULLABLE', 'Type of details (comment, comment_ranking, poll, story, job, pollopt)', (), None),
 SchemaField('id', 'INTEGER', 'NULLABLE', "The item's unique id.", (), None),
 SchemaField('parent', 'INTEGER', 'NULLABLE', 'Parent comment ID', (), None),
 SchemaField('descendants', 'INTEGER', 'NULLABLE', 'Number of story or poll descendants', (), None),
 SchemaField('ranking', 'INTEGER', 'NULLABLE', 'Comment ranking', (), None),
 SchemaField('deleted', 'BOOLEAN', 'NULLABLE', 'Is deleted?', (), None)]

In [4]:
client.list_rows(table, max_results=5).to_dataframe()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Cannot use bqstorage_client if max_results is set, reverting to fetching data with the tabledata.list endpoint.
  """Entry point for launching an IPython kernel.

,title,url,text,dead,by,score,time,timestamp,type,id,parent,descendants,ranking,deleted
0,None,None,"The rates generally are published, via CMS. Th...",None,killjoywashere,NaN,1516081339,2018-01-16 05:42:19+00:00,comment,16156093,16154299,NaN,NaN,None
1,None,None,Totally is. I live on the East Coast in an ill...,None,nv-vn,NaN,1516081329,2018-01-16 05:42:09+00:00,comment,16156092,16152990,NaN,NaN,None
2,None,None,"The thing is, it seems pretty clear-cut to me ...",None,rgossiaux,NaN,1516081277,2018-01-16 05:41:17+00:00,comment,16156091,16155165,NaN,NaN,None
3,None,None,from my limited experience with health care in...,None,rosege,NaN,1516081260,2018-01-16 05:41:00+00:00,comment,16156090,16153671,NaN,NaN,None
4,None,None,If you were Nigerian you&#x27;d probably feel ...,None,ikeyany,NaN,1516081344,2018-01-16 05:42:24+00:00,comment,16156096,16154506,NaN,NaN,None

In [5]:
client.list_rows(table, selected_fields=table.schema[2:3], max_results=5).to_dataframe()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Cannot use bqstorage_client if max_results is set, reverting to fetching data with the tabledata.list endpoint.
  """Entry point for launching an IPython kernel.

                                                text
0  The rates generally are published, via CMS. Th...
1  Totally is. I live on the East Coast in an ill...
2  The thing is, it seems pretty clear-cut to me ...
3  from my limited experience with health care in...
4  If you were Nigerian you&#x27;d probably feel ...

## Practice

In [6]:
from google.cloud import bigquery

# Create a "Client" object
client = bigquery.Client()

# Construct a reference to the "chicago_crime" dataset
dataset_ref = client.dataset('chicago_crime', project='bigquery-public-data')

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

Using Kaggle's public dataset BigQuery integration.

In [7]:
tables = list(client.list_tables(dataset))

for table in tables:
    print(table.table_id)

crime

In [8]:
table_ref = dataset_ref.table('crime')

# API request to fetch the table
table = client.get_table(table_ref)

table.schema

[SchemaField('unique_key', 'INTEGER', 'REQUIRED', None, (), None),
 SchemaField('case_number', 'STRING', 'NULLABLE', None, (), None),
 SchemaField('date', 'TIMESTAMP', 'NULLABLE', None, (), None),
 SchemaField('block', 'STRING', 'NULLABLE', None, (), None),
 SchemaField('iucr', 'STRING', 'NULLABLE', None, (), None),
 SchemaField('primary_type', 'STRING', 'NULLABLE', None, (), None),
 SchemaField('description', 'STRING', 'NULLABLE', None, (), None),
 SchemaField('location_description', 'STRING', 'NULLABLE', None, (), None),
 SchemaField('arrest', 'BOOLEAN', 'NULLABLE', None, (), None),
 SchemaField('domestic', 'BOOLEAN', 'NULLABLE', None, (), None),
 SchemaField('beat', 'INTEGER', 'NULLABLE', None, (), None),
 SchemaField('district', 'INTEGER', 'NULLABLE', None, (), None),
 SchemaField('ward', 'INTEGER', 'NULLABLE', None, (), None),
 SchemaField('community_area', 'INTEGER', 'NULLABLE', None, (), None),
 SchemaField('fbi_code', 'STRING', 'NULLABLE', None, (), None),
 SchemaField('x_coordinate', 'FLOAT', 'NULLABLE', None, (), None),
 SchemaField('y_coordinate', 'FLOAT', 'NULLABLE', None, (), None),
 SchemaField('year', 'INTEGER', 'NULLABLE', None, (), None),
 SchemaField('updated_on', 'TIMESTAMP', 'NULLABLE', None, (), None),
 SchemaField('latitude', 'FLOAT', 'NULLABLE', None, (), None),
 SchemaField('longitude', 'FLOAT', 'NULLABLE', None, (), None),
 SchemaField('location', 'STRING', 'NULLABLE', None, (), None)]

In [9]:
client.list_rows(table, max_results=5).to_dataframe()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Cannot use bqstorage_client if max_results is set, reverting to fetching data with the tabledata.list endpoint.
  """Entry point for launching an IPython kernel.

,unique_key,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
0,4308177,HL616890,2005-09-16 08:30:00+00:00,032XX S PRINCETON AVE,1210,DECEPTIVE PRACTICE,THEFT OF LABOR/SERVICES,TAXICAB,False,False,...,11,34,11,1174818.0,1883378.0,2005,2018-02-28 03:56:25+00:00,41.835379,-87.634034,"(41.835378954, -87.634034466)"
1,4321424,HL614310,2005-09-07 12:00:00+00:00,050XX S ARCHER AVE,1122,DECEPTIVE PRACTICE,COUNTERFEIT CHECK,BANK,False,False,...,23,57,10,1149380.0,1870669.0,2005,2018-02-28 03:56:25+00:00,41.801034,-87.727704,"(41.801034017, -87.727703751)"
2,4324795,HL629710,2005-09-22 11:30:00+00:00,087XX S CRANDON AVE,0496,BATTERY,AGGRAVATED DOMESTIC BATTERY: KNIFE/CUTTING INST,RESIDENCE,False,True,...,8,48,04B,1193018.0,1847430.0,2005,2018-02-10 03:50:01+00:00,41.736309,-87.568428,"(41.736309285, -87.568427589)"
3,4325028,HL615482,2005-09-15 09:30:00+00:00,053XX S PULASKI RD,1110,DECEPTIVE PRACTICE,BOGUS CHECK,GROCERY FOOD STORE,False,False,...,23,62,11,1150606.0,1868988.0,2005,2018-02-10 03:50:01+00:00,41.796397,-87.723251,"(41.79639731, -87.723251281)"
4,4329873,HL633937,2005-09-25 02:51:00+00:00,092XX S DOBSON AVE,0325,ROBBERY,VEHICULAR HIJACKING,STREET,False,False,...,8,47,03,1184833.0,1843829.0,2005,2018-02-28 03:56:25+00:00,41.726623,-87.598527,"(41.726623452, -87.59852684)"

## Air Quality Records

In [10]:
from google.cloud import bigquery
client = bigquery.Client()

dataset_ref = client.dataset("openaq", project="bigquery-public-data")
dataset = client.get_dataset(dataset_ref)

table_ref = list(client.list_tables(dataset))

for table in tables:
    print(table.table_id)

Using Kaggle's public dataset BigQuery integration.
crime

In [11]:
table_ref = dataset_ref.table('global_air_quality')

table = client.get_table(table_ref)
table.schema

[SchemaField('location', 'STRING', 'NULLABLE', None, (), None),
 SchemaField('city', 'STRING', 'NULLABLE', None, (), None),
 SchemaField('country', 'STRING', 'NULLABLE', None, (), None),
 SchemaField('pollutant', 'STRING', 'NULLABLE', None, (), None),
 SchemaField('value', 'FLOAT', 'NULLABLE', None, (), None),
 SchemaField('timestamp', 'TIMESTAMP', 'NULLABLE', None, (), None),
 SchemaField('unit', 'STRING', 'NULLABLE', None, (), None),
 SchemaField('source_name', 'STRING', 'NULLABLE', None, (), None),
 SchemaField('latitude', 'FLOAT', 'NULLABLE', None, (), None),
 SchemaField('longitude', 'FLOAT', 'NULLABLE', None, (), None),
 SchemaField('averaged_over_in_hours', 'FLOAT', 'NULLABLE', None, (), None),
 SchemaField('location_geom', 'GEOGRAPHY', 'NULLABLE', None, (), None)]

In [12]:
client.list_rows(table, max_results=5).to_dataframe()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Cannot use bqstorage_client if max_results is set, reverting to fetching data with the tabledata.list endpoint.
  """Entry point for launching an IPython kernel.

,location,city,country,pollutant,value,timestamp,unit,source_name,latitude,longitude,averaged_over_in_hours,location_geom
0,MA,Salt Lake City,US,pm25,1.300,2020-01-06 18:00:00+00:00,µg/m³,AirNow,40.712063,-112.111120,1.0,POINT(-112.11112 40.712063)
1,MA,Salt Lake City,US,so2,0.001,2020-01-06 18:00:00+00:00,ppm,AirNow,40.712063,-112.111120,1.0,POINT(-112.11112 40.712063)
2,MA,Salt Lake City,US,no2,0.003,2020-01-06 18:00:00+00:00,ppm,AirNow,40.712063,-112.111120,1.0,POINT(-112.11112 40.712063)
3,MA,Salt Lake City,US,o3,0.039,2020-01-06 18:00:00+00:00,ppm,AirNow,40.712063,-112.111120,1.0,POINT(-112.11112 40.712063)
4,NR,Salt Lake City,US,no2,0.013,2020-06-11 00:00:00+00:00,ppm,AirNow,40.662840,-111.901794,1.0,POINT(-111.901794 40.66284)

In [13]:
first_query = """
        SELECT *
        FROM `bigquery-public-data.openaq.global_air_quality`
        WHERE country = 'US'
        """

safe_config = bigquery.QueryJobConfig(maximum_bytes=10**10)
first_query_job = client.query(first_query, job_config=safe_config)

first_results = first_query_job.to_dataframe()

first_results.head()

/opt/conda/lib/python3.7/site-packages/google/cloud/bigquery/client.py:440: UserWarning: Cannot create BigQuery Storage client, the dependency google-cloud-bigquery-storage is not installed.
  "Cannot create BigQuery Storage client, the dependency "

,location,city,country,pollutant,value,timestamp,unit,source_name,latitude,longitude,averaged_over_in_hours,location_geom
0,MA,Salt Lake City,US,pm25,1.300,2020-01-06 18:00:00+00:00,µg/m³,AirNow,40.712063,-112.111120,1.0,POINT(-112.11112 40.712063)
1,MA,Salt Lake City,US,so2,0.001,2020-01-06 18:00:00+00:00,ppm,AirNow,40.712063,-112.111120,1.0,POINT(-112.11112 40.712063)
2,MA,Salt Lake City,US,no2,0.003,2020-01-06 18:00:00+00:00,ppm,AirNow,40.712063,-112.111120,1.0,POINT(-112.11112 40.712063)
3,MA,Salt Lake City,US,o3,0.039,2020-01-06 18:00:00+00:00,ppm,AirNow,40.712063,-112.111120,1.0,POINT(-112.11112 40.712063)
4,NR,Salt Lake City,US,no2,0.013,2020-06-11 00:00:00+00:00,ppm,AirNow,40.662840,-111.901794,1.0,POINT(-111.901794 40.66284)

In [14]:
zero_pollution_query = """
                       SELECT *
                       FROM `bigquery-public-data.openaq.global_air_quality`
                       WHERE value = 0
                       """

safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
second_query_job = client.query(zero_pollution_query, job_config=safe_config)

second_results = second_query_job.to_dataframe()

second_results.head()

/opt/conda/lib/python3.7/site-packages/google/cloud/bigquery/client.py:440: UserWarning: Cannot create BigQuery Storage client, the dependency google-cloud-bigquery-storage is not installed.
  "Cannot create BigQuery Storage client, the dependency "

,location,city,country,pollutant,value,timestamp,unit,source_name,latitude,longitude,averaged_over_in_hours,location_geom
0,NR,Salt Lake City,US,co,0.0,2020-06-11 00:00:00+00:00,ppm,AirNow,40.662840,-111.901794,1.0,POINT(-111.901794 40.66284)
1,MLK,Philadelphia-Camden-Wilmington,US,so2,0.0,2020-06-10 23:00:00+00:00,ppm,AirNow,39.739400,-75.558100,1.0,POINT(-75.5581 39.7394)
2,Elko,ELKO,US,pm10,0.0,2020-06-11 00:00:00+00:00,µg/m³,AirNow,40.838330,-115.766010,1.0,POINT(-115.76601 40.83833)
3,Hope,Columbus,US,so2,0.0,2017-01-03 11:00:00+00:00,ppm,AirNow,39.294323,-85.766846,1.0,POINT(-85.766846 39.294323)
4,Kona,Hilo,US,pm25,0.0,2020-06-11 00:00:00+00:00,µg/m³,AirNow,19.509700,-155.913300,1.0,POINT(-155.9133 19.5097)